#tooltip {
    height: 200px;
    width: 600px;
    background-color: chartreuse;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

#tooltip-content {
    display: none;
    background-color: blue;
    color: beige;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: -400px;
    transition: all 0.3s ease-in-out;
}

#tooltip:hover #tooltip-content {
    display: block;
    left: 40px;
}

button:hover {
    background-color: crimson;
}

.abc:first-child {
    color: darkblue;
    font-size: 50px;
}

.abc:last-child {
    color: darkblue;
}

.abc:nth-child(4) {
    color: brown;
}
